<%= @restaurant.name %>
<%= @restaurant.category %>
<%= @restaurant.address %>
<%= @restaurant.phone_number %>



<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>

<%= @rating %>
